.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 15px;

  &:disabled {
    opacity: 0.1;
  }
}

.button:hover {
  background-color: var(--primary-hover);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 0;
  height: 100%;
  transform: translateY(1px); 
}