.button {


    color: var(--foreground);
    font-size: 15px;
    transition: 0.3s;
    font-weight: 500;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s ease;
    background-color: inherit;
    border: none;
    padding: 5px;
    margin-left: 3.1rem;

    margin-top: 4px;
    font-weight: 600;


    &:hover {
        cursor: pointer;
        background-color: var(--border);
    }
}

.textarea {
    flex: 1;
    transition: height 0.1s ease;
    resize: none;
    background: var(--background);
    border: none;
    color: var(--foreground);
    border-bottom: 1px solid var(--border);

    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 100%;
    min-height: 40px;
    padding: 0.75rem 1rem;
    resize: none;
    field-sizing: content;


    &:focus {
        border-bottom: 1px solid var(--primary);


    }

    &::placeholder {
        color: var(--foreground);
        opacity: 0.5;
    }
}

.sendAnswerButton {
    background: var(--primary);

    &:hover {
        background: var(--primary-hover);
    }
}

.cancelAnswerButton {
    background: var(--background);
    margin-right: 10px;

    &:hover {
        background: var(--border);
    }
}

.answerForm {
    display: flex;
    margin-left: 3.1rem;
    align-items: end;
    gap: 10px;
    flex-direction: column;

    button {

        color: #ffffff;
        border: none;
        padding: 0.5rem 1rem;

        border-radius: 6px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.2s;



        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}



@media (pointer: coarse) {

    .button {

        background-color: var(--border);
    }
}

@media (max-width: 768px) {


    .button {

        background-color: var(--border);
    }

    .answerForm,
    .button {

        margin: 1.5rem auto;
    }

}